@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}
ul,li {
	list-style:none;
}
label {
	color: green;
	font-weight: bolder;
}

.info {
	margin: 20px;
}
.info li {
	padding: 2px;
	border-bottom: 1px dashed #ddd;
}

.box {
	border: 1px solid #666;
	border-radius:5px;
    box-shadow:0 0 10px 2px #999;
	width: 250px;
	padding: 5px;
	margin: 30px;
	float:left;
}

.title {
	text-align:center;
	border-bottom: 1px dashed #ddd;
}

.self {
	padding:3px;
	border-bottom: 1px dashed #ddd;                                                   
}
.fri-bar {
	padding: 3px;
	color: blue;
	font-weight:bolder;
}
.sex {
	margin-left: 30px;
}
